.header__lang-link {
    margin: 0 16px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}