.photo-grid {
    margin: 0 auto 92px;
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        margin-bottom: 88px;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-gap: 12px;
        margin-bottom: 64px;
        max-width: calc(100% - 32px);
    }
}