.cover__subtitle {
    width: 360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 18px;
        max-width: 100%;
    }
}