.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto 32px;
}

@media screen and (max-width: 680px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: 12vw;
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        margin: 0 auto 16px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}