.intro__text {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px 0;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 100%;
    }
}