.intro {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: calc(100% - 94px);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: calc(100% - 48px);
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: calc(100% - 32px);
        margin: 0 auto 64px;
    }
}