.lead__subtitle {
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
max-width: 640px;
color: #FFFFFF;
margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin-bottom: 56px;
      }
  }

  @media screen and (max-width: 680px) {
    .lead__subtitle {
      font-size: 4vw;
      line-height: 4.5vw;
      }
  }

  @media screen and (max-width: 425px) {
    .lead__subtitle {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 20px;
      max-width: 288px;
      }
  }

  