.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

.place__link:hover {
    opacity: 0.8;
}