.place {
display: grid;
grid-template-columns: repeat(2 , 1fr);
margin: 0 0 80px;  
grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
       grid-gap: 48px 32px;
      }
  }

  @media screen and (max-width: 768px) {
    .place {
       margin-bottom: 73px;
       grid-gap: 48px 28px;
      }
  }

  @media screen and (max-width: 679px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-gap: 32px 0;
      }
  }